!!!
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    // Home Screen icon
    link(rel="apple-touch-icon", sizes="57x57",   href="images/DIAF_icon114.png")
    link(rel="apple-touch-icon", sizes="72x72",   href="images/DIAF_icon144.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/DIAF_icon114.png")
    link(rel="apple-touch-icon", sizes="144x144", href="images/DIAF_icon144.png")
    // Splash Screen
    link(rel="apple-touch-startup-image", href="images/DIAF_splash460.png", media="(device-width: 320px)")
    link(rel="apple-touch-startup-image", href="images/DIAF_splash640.png", media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)")

    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.3.0-rc.1/jquery.mobile-1.3.0-rc.1.min.css')
    script(src='/javascripts/date.format.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='http://code.jquery.com/jquery-1.8.3.min.js')
    script(src='http://code.jquery.com/mobile/1.3.0-rc.1/jquery.mobile-1.3.0-rc.1.min.js')
    script(src='/javascripts/mobile.js')
    title David Is A Fatty
  body
    #home(data-role='page')
      div(data-role='header')
        h1 David Is A Fatty!
      div(data-role='content')
        p Welcome to the David Is A Fatty app
        a(href='#record-weight', data-role='button', data-icon='arrow-r', data-iconpos='right', data-theme='b') Record Weight
        a(href='#history', data-role='button', data-icon='arrow-r', data-iconpos='right', data-theme='b') View History
        a(href='#clear-history', data-role='button', data-icon='arrow-r', data-iconpos='right', data-theme='b') Clear History
    
    #record-weight(data-role='page', data-add-back-btn="true")
      div(data-role='header')
        h1 Record Weight
      div(data-role='content')
        label(for='weight-number') Weight (Kg)
        input(type='number', name='number', id='weight-number', value='80')
        div(data-role="fieldcontain")
          lable(for='meal-filp') Eaten meal:
          select(name='meal-filp', id='meal-flip', data-role="slider")
            option(value='no') No
            option(value='yes') Yes          

          a(id='save_btn', href='#', data-role='button', data-icon='check', data-iconpos='right', data-theme='b') Save

    #result(data-role='page')
      div(data-role='header')
        h1 Result
      div(data-role='content')
        h1#up-result(style='display:none')
          image(src='/images/button_arrow_red_up.png', style="float:left; padding-right:10px")
          | Up
        h1#down-result(style='display:none')
          image(src='/images/button_arrow_green_down.png', style="float:left; padding-right:10px")
          | Down
        h1#same-result(style='display:none')
          | Not Changed
        a(href='#history', data-role='button', data-icon='info', data-theme='b') History 
        a(href='#home', data-role='button', data-icon='home', data-theme='b') Home

    #history(data-role='page')
      div(data-role='header')
        a(href='#home', data-icon='home') Home
        h1 History
        a(href='#graph') Graph
      div(data-role='content')
        ul#historyList(data-role='listview', data-theme='d', data-divider-theme='d')
          li(data-role='list-divider', role='heading') April 2013
            span(class='ui-li-count ui-btn-up-c ui-btn-corner-all') 2

    #clear-history(data-role='page')
      div(data-role='header')
        a(href='#home', data-icon='home') Home
        h1 Clear History
      div(data-role='content')
        p Warning you cannot get history back once you have deleted it!
        a(id='clearHistory_btn', href='#', data-role='button', data-iconpos='left', data-theme='b') Clear

