// LESS

@baseColour: #ff0000;
@boxHeight: 300px;

.colour1 {
  background: @baseColour;
  height: @boxHeight;
}
.colour2 {
  background-color: @baseColour;
  background-image:-webkit-linear-gradient(top, @baseColour, darken(@baseColour, 30%));
  height: @boxHeight;
}
.clear {
  background: white;
  .colourRGB {
    display: none;
  }
}
.colourRGB {
  margin: 20px 30px;
  color: #FFCC00;
}